<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Cool Site!</title>
        <link href="style.css" rel="stylesheet" />
    </head>

    <body>
        <h1>MVC View</h1>

        <p>@ViewData["Greeting"]</p>
    </body>

</html>